/* Header Fonts */
/* Import Font from system */
@font-face 
{ 
font-family: "Basement Grotesque";  
src: url("https://github.com/itsjustdannyb/COG-Y-22-Review-Challenge/blob/master/fonts-update/BasementGrotesque-Black_v1.202.woff")format("woff"); 
}
@font-face {
    font-family: "Argentum Sans Regular";
    src: url("https://github.com/itsjustdannyb/COG-Y-22-Review-Challenge/blob/master/fonts-update/ArgentumSans-Regular.woff")format("woff");
}

@font-face {
    font-family: "Argentum Sans-Bold";
    src: url("https://github.com/itsjustdannyb/COG-Y-22-Review-Challenge/blob/master/fonts-update/ArgentumSans-Bold.woff")format("woff");
}

@font-face {
    font-family: "Argentum Sans-Semi-Bold";
    src: url("https://github.com/itsjustdannyb/COG-Y-22-Review-Challenge/blob/master/fonts-update/ArgentumSans-SemiBold.woff")format("ttf");
}
/* Universals */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg: #1D1D1D;
    --text: #D9D9D9;
    --bg2: #262626;
}

h1, h2{
    font-family: 'Basement Grotesque';
    font-family: 
}

p, h3, li, a{
    font-family: 'Argentum Sans Regular';
}


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);
}

#hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#hero h1{
    margin-top: 25vh;
    font-size: 40px;
    text-align: center;
}

#hero h2{
    margin-top: 25px;
    margin-bottom: 100px;
    font-size: 24px;
    text-align: center;
}

#task{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: var(--bg2);
    margin-bottom: 45px;
    margin-left: 30px;
    margin-right: 30px;
    /* padding-left: 5px;
    padding-right: 15px; */
}
#task h2{
    padding: 5px;
    font-family: 'Argentum Sans Regular';
    line-height: 45px;
}

#task h3{
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.ans{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: var(--bg2);
    margin-bottom: 100px;
    margin: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.ans p{
    font-size: 16;
    padding: 15px;
    line-height: 30px;
}

.ans ol{
    padding: 45px;
    padding-top: 15px;
}

.ans ol li{
    list-style-type:square;
    line-height: 24px;
}

.click a button{
    background-color: var(--bg2);
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 60px;
    margin-bottom: 180px;
    color: var(--text);
    font-family: 'Basement Grotesque';
    font-size: 16px;
    text-align: center;
    
}

#footer{
    background-color: var(--bg2);
    width: 100%;
    min-height: 100px;
    padding: 60px;
}

#footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer ul li{
    padding: 15px;
    list-style-type: none;
    padding-right: 10px;
}

#footer p{
    text-align: center;
    font-size: 14px;
}